div{
    height: 400px;
    width: 300px;
    background-image: url("amber-kipp-75715CVEJhI-unsplash.jpg");
    background-size: cover;
    text-align: center;
    display: inline-block;
    position: fixed;
    right: 0px;
    bottom: 100px;
}
 